<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>斯普拉遁随机武器生成器</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <div id="app">
      <!-- <div class="container loading" v-if="loading">加载中……</div> -->
      <div class="container">
        <div class="header">
          <h1>斯普拉遁随机武器生成器</h1>
        </div>

        <div class="filters">
          <h2>筛选器</h2>
          <div class="filter-group">
            <div class="filter-item">
              <label for="primaryType"
                >{{`主武器类型(${mainTypes.length})`}}</label
              >
              <select v-model="selectedPrimaryType" id="primaryType">
                <option value="">全部</option>
                <option
                  v-for="item in mainTypes"
                  :key="item.id"
                  :value="item.id">
                  {{item.name }}
                </option>
              </select>
            </div>

            <div class="filter-item">
              <label for="secondary">{{`副武器(${subWeapons.length})`}}</label>
              <select v-model="selectedSecondary" id="secondary">
                <option value="">全部</option>
                <option
                  v-for="item in subWeapons"
                  :key="item.id"
                  :value="item.id">
                  {{ item.name }}
                </option>
              </select>
            </div>

            <div class="filter-item">
              <label for="special"
                >{{`特殊武器(${specialWeapons.length})`}}</label
              >
              <select v-model="selectedSpecial" id="special">
                <option value="">全部</option>
                <option
                  v-for="item in specialWeapons"
                  :key="item.id"
                  :value="item.id">
                  {{ item.name }}
                </option>
              </select>
            </div>
          </div>

          <div class="filter-group">
            <div class="filter-item">
              <button type="button" @click="resetFilters" class="reset-btn">
                重置筛选器
              </button>
            </div>
          </div>
          <div class="filter-group">
            <h2>武器池</h2>
            <span @click="showWeaponPool = !showWeaponPool"
              >{{showWeaponPool?'收起':'展开'}}</span
            >
          </div>
          <p v-if="showWeaponPool" class="weapon-pool">
            {{filteredWeaponsData.map(item=>item.name).join('，')}}
          </p>
        </div>

        <div class="controls">
          <button @click="generateTeams" class="generate-btn">GO</button>
        </div>

        <div class="teams">
          <div class="team">
            <h2>A队</h2>
            <div v-for="(item, index) in teamA" :key="'a'+index" class="player">
              <!-- <h3>玩家 {{ index + 1 }}</h3> -->
              <div class="weapon-info">
                <div class="weapon-item-main">
                  <strong> {{ item.name }}</strong>
                </div>
                <!-- <div class="weapon-item">
                  <strong>类型:</strong> {{ item.type_id }}
                </div> -->
                <div class="weapon-info-sub">
                  <div class="weapon-item type">
                    {{ findTypeName(item.type_id )}}
                  </div>
                  <div class="weapon-item">{{ item.sub_weapon.name }}</div>
                  <div class="weapon-item">{{ item.special_weapon.name }}</div>
                </div>
              </div>
            </div>
          </div>

          <div class="team">
            <h2>B队</h2>
            <div v-for="(item, index) in teamB" :key="'b'+index" class="player">
              <h3>玩家 {{ index + 1 }}</h3>
              <div class="weapon-info">
                <div class="weapon-item">
                  <strong>主武器:</strong> {{ item.name }}
                </div>
                <!-- <div class="weapon-item">
                  <strong>类型:</strong> {{ item.type_id }}
                </div> -->
                <div class="weapon-item">
                  <strong>副武器:</strong> {{ item.sub_weapon.name }}
                </div>
                <div class="weapon-item">
                  <strong>特殊武器:</strong> {{ item.special_weapon.name }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      const { createApp, ref, computed, onMounted, watch } = Vue

      createApp({
        setup() {
          // 武器数据
          const weaponsData = ref([])
          const mainTypes = ref([])
          const subWeapons = ref([])
          const specialWeaponsAll = ref([])
          const filteredWeaponsData = ref([])
          const showWeaponPool = ref(false)
          // 筛选条件
          const selectedPrimaryType = ref('')
          const selectedSecondary = ref('')
          const selectedSpecial = ref('')
          // 团队数据
          const teamA = ref([])
          const teamB = ref([])
          // all weapons
          fetch(
            'https://splatoon.com.cn/api/datasource/weapon/weapon/list?page=1&perPage=200&orderBy=splatnet&sort=ASC&pagination=true&toolbar=true&toolbarParams=%5B%7B%22type%22:%22checkbox%22,%22paramName%22:%22version%22,%22label%22:%222%E4%BB%A3%E6%95%B0%E6%8D%AE%22,%22value%22:2,%22check%22:false%7D,%7B%22type%22:%22checkbox%22,%22paramName%22:%22version%22,%22label%22:%223%E4%BB%A3%E6%95%B0%E6%8D%AE%22,%22value%22:3,%22check%22:true%7D%5D&version=3'
          )
            .then((response) => response.json())
            .then((data) => {
              if (
                data &&
                data.message === 'success' &&
                data.data &&
                data.data.list &&
                data.data.list.data
              ) {
                weaponsData.value = data.data.list.data
                filteredWeaponsData.value = weaponsData.value
                // console.log('all :>> ', weaponsData.value)
              } else {
                throw Error('请求出错')
              }
            })
            .catch((e) => {
              alert('获取数据失败：' + e.toString())
            })
          //main weapon types
          fetch(
            'https://splatoon.com.cn/api/datasource/weapon/weaponType/list?page=1&perPage=20&orderBy=id&sort=ASC&pagination=false&columns=id%7Cname%7Cdescription'
          )
            .then((response) => response.json())
            .then((data) => {
              if (
                data &&
                data.message === 'success' &&
                data.data &&
                data.data.list &&
                data.data.list.data
              ) {
                mainTypes.value = data.data.list.data
                // console.log('main :>> ', mainTypes.value)
              } else {
                throw Error('请求出错')
              }
            })
            .catch((e) => {
              alert('获取数据失败：' + e.toString())
            })
          // sub weapons
          fetch(
            'https://splatoon.com.cn/api/datasource/weapon/subWeapon/list?page=1&perPage=20&orderBy=id&sort=ASC&pagination=false&toolbar=true&toolbarParams=%5B%7B%22type%22:%22checkbox%22,%22paramName%22:%22version%22,%22label%22:%222%E4%BB%A3%E6%95%B0%E6%8D%AE%22,%22value%22:2,%22check%22:false%7D,%7B%22type%22:%22checkbox%22,%22paramName%22:%22version%22,%22label%22:%223%E4%BB%A3%E6%95%B0%E6%8D%AE%22,%22value%22:3,%22check%22:true%7D%5D'
          )
            .then((response) => response.json())
            .then((data) => {
              if (
                data &&
                data.message === 'success' &&
                data.data &&
                data.data.list &&
                data.data.list.data
              ) {
                subWeapons.value = data.data.list.data
                // console.log('sub :>> ', subWeapons.value)
              } else {
                throw Error('请求出错')
              }
            })
          //special weapons all
          fetch(
            'https://splatoon.com.cn/api/datasource/weapon/specialWeapon/list?page=1&perPage=40&orderBy=id&sort=ASC&pagination=false&toolbar=true&toolbarParams=%5B%7B%22type%22:%22checkbox%22,%22paramName%22:%22version%22,%22label%22:%222%E4%BB%A3%E6%95%B0%E6%8D%AE%22,%22value%22:2,%22check%22:false%7D,%7B%22type%22:%22checkbox%22,%22paramName%22:%22version%22,%22label%22:%223%E4%BB%A3%E6%95%B0%E6%8D%AE%22,%22value%22:3,%22check%22:true%7D%5D'
          )
            .then((response) => response.json())
            .then((data) => {
              if (
                data &&
                data.message === 'success' &&
                data.data &&
                data.data.list &&
                data.data.list.data
              ) {
                specialWeaponsAll.value = data.data.list.data
                // console.log('special :>> ', specialWeaponsAll.value)
              } else {
                throw Error('请求出错')
              }
            })

          const loading = computed(() => {
            return (
              weaponsData.value.length == 0 ||
              subWeapons.value.length == 0 ||
              mainTypes.value.length == 0 ||
              specialWeaponsAll.value.length == 0
            )
          })
          // const specialWeapons = ref([])
          const specialWeapons = computed(() => {
            let t = weaponsData.value.map((i) => i.special_weapon_id)
            let s = specialWeaponsAll.value.filter((item) => {
              return t.some((id) => id == item.id)
            })
            return s
          })

          watch(
            () => loading.value,
            () => {
              console.log('watch loading :>> ', loading.value)
            },
            {
              immdiate: true,
            }
          )
          watch(
            () => [
              selectedPrimaryType.value,
              selectedSecondary.value,
              selectedSpecial.value,
            ],
            () => {
              filterWeaponData()
            }
          )
          // 筛选
          function filterWeaponData() {
            filteredWeaponsData.value = weaponsData.value.filter((item) => {
              let t = true
              if (
                selectedPrimaryType.value &&
                item.type_id != selectedPrimaryType.value
              ) {
                t = false
              }
              if (
                selectedSecondary.value &&
                item.sub_weapon_id != selectedSecondary.value
              ) {
                t = false
              }
              if (
                selectedSpecial.value &&
                item.special_weapon_id != selectedSpecial.value
              ) {
                t = false
              }
              return t
            })
          }

          // 重置筛选器
          function resetFilters() {
            selectedPrimaryType.value = ''
            selectedSecondary.value = ''
            selectedSpecial.value = ''
          }
          //
          function findTypeName(id) {
            let t = mainTypes.value.find((item) => {
              return item.id == id
            })
            return t.name
          }
          // 随机选择函数
          function getRandomItem(array) {
            if (array.length === 0) return null
            const randomIndex = Math.floor(Math.random() * array.length)
            return array[randomIndex]
          }

          // 生成团队武器配置
          function generateTeams() {
            teamA.value = Array(4)
              .fill(null)
              .map(() => getRandomItem(filteredWeaponsData.value))
            teamB.value = Array(4)
              .fill(null)
              .map(() => getRandomItem(filteredWeaponsData.value))
          }

          return {
            weaponsData,
            mainTypes,
            subWeapons,
            specialWeaponsAll,
            specialWeapons,
            showWeaponPool,
            filteredWeaponsData,
            loading,
            teamA,
            teamB,
            selectedPrimaryType,
            selectedSecondary,
            selectedSpecial,
            resetFilters,
            generateTeams,
            findTypeName,
          }
        },
      }).mount('#app')
    </script>
    <script></script>
  </body>
</html>
